
<app-divider> Placeholder Component</app-divider>
<app-placeholder [header]="true" [lines]="9">elements-home works!</app-placeholder>

<app-divider>Segment</app-divider>
<app-segment>
    <header>
    <i class="pdf file outline icon"></i>
    No documens listed for this customer.
</header>
    <button class="ui primary button">
    
        Add document
    </button>
</app-segment>

<app-segment>
    <header>
        <i class="add icon"></i>
        Add document
    </header>
    <button class="ui primary button">

        Add Me
    </button>
</app-segment>

